.input-wrapper {
  input {
    padding: 8px 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }

  input[type="number"] {
    // Remove arrows for WebKit browsers (Chrome, Safari, Edge)
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    // Remove arrows for Firefox
    -moz-appearance: textfield;
  }

}


.custon-select-wrapper{
  select{
    padding: 8px 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    min-width: 80px;
    cursor: pointer;
  }
}

.action-btn-wrapper {
  button {
    padding: 8px 14px;
    border-radius: 5px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
  }

  button.btn-danger {
    background-color: #e74c3c;
    color: #fff;
  }
}

// search able select

.aiob-searchable-dropdown {
  position: relative;
  width: 200px;
  font-family: Arial, sans-serif;

  input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
}

.aiob-searchable-dropdown-list {
  position: absolute;
  width: 100%;
  background: white;
  border: 1px solid #ccc;
  max-height: 150px;
  overflow-y: auto;
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 1000;

  li {
    padding: 8px;
    cursor: pointer;

    &:hover {
      background: #f0f0f0;
    }
  }
}

// multi select

.aiob-multi-select {
  position: relative;
  display: inline-block;
  width: 250px;
  font-size: 14px;
  
  .aiob-selected-options {
    border-radius: 5px;
    border: 1px solid #ccc;
    background: white;
    padding: 8px;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;

    .aiob-single-option {
      background: #3498db;
      padding: 3px 8px;
      border-radius: 4px;
      display: flex;
      align-items: center;
      gap: 5px;
      color: white;

      .remove-single-option {
        cursor: pointer;
        font-weight: bold;
      }
    }
  }

  .multi-select-dropdown {
    display: none;
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;

    div {
      padding: 5px;
      cursor: pointer;

      &:hover {
        background: #f0f0f0;
      }
    }
  }
}


.aiob-input-group{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  margin-top: 20px;

  .heading{
    font-size: 18px;
    font-weight: 500;
    color: black;
    text-transform: capitalize;
  }
}
